@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --gap: 3rem;
  --white: #fff;
  --Cyan: hsl(180, 66%, 49%);
  --Dark-Violet: hsl(257, 27%, 26%);
  --Red: hsl(0, 87%, 67%);
  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100vh;
  font-size: 1.8rem;
  font-weight: 500;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-direction {
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.header-container {
  justify-content: space-between;
  padding: 2rem 0;
}

.logo {
  margin-right: 5rem;
}

.nav {
  position: absolute;
  width: 100%;
  top: 8rem;
  display: none;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-weight: 700;
  background-color: var(--Dark-Violet);
  padding: 3.5rem 2rem;
  border-radius: 1.2rem;
  z-index: 999;
}

.nav-list a {
  color: var(--white);
}

.separator {
  position: relative;
  width: 100%;
  height: 0.1rem;
  background-color: var(--Gray);
  opacity: 0.3;
  margin: 3.5rem 0;
}

.login-btn {
  color: var(--white);
}

.menu-btn {
  display: flex;
  align-items: center;
}

.menu-btn i {
  font-size: 3rem;
  color: var(--Grayish-Violet);
}

.nav-list {
  list-style: none;
  display: flex;
  gap: var(--gap);
}

.login-btns-container {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.sign-up-btn {
  background-color: var(--Cyan);
  color: var(--white);
  padding: 0.5em 5em;
  border-radius: 100px;
}

.main {
  position: relative;
  overflow: hidden;
  outline: 2px solid blue;
}

.hero {
  position: relative;
  align-items: center;
  flex-direction: column-reverse;
}

.hero-content {
  padding: 2rem 0;
  text-align: center;
}

.hero-title {
  font-size: 4.3rem;
  line-height: 5rem;
  font-weight: 700;
}

.hero-text {
  margin: 2rem 0 3rem;
  color: var(--Grayish-Violet);
}

.hero-cta {
  background-color: var(--Cyan);
  color: var(--white);
  padding: 0.5em 2em;
  border-radius: 100px;
}

.hero-img {
  position: relative;
}

.hero-img img {
  position: relative;
  max-width: 155%;
}

.enter-link-container {
  position: relative;
  background-image: url("./images/bg-shorten-mobile.svg");
  background-color: var(--Dark-Violet);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 3rem;
  border-radius: 0.8rem;
  bottom: -9rem;
}

.enter-link-form {
  gap: var(--gap);
}

.form-item {
  border-radius: 0.6rem;
  padding: 1.2rem;
  width: 100%;
  outline: none;
  border: none;
}

#enter-link-input {
  font-size: 1.7rem;
}

.shorten-btn {
  color: var(--white);
  background-color: var(--Cyan);
  font-weight: 700;
  font-size: 1.7rem;
}

.shortened-links-container {
  padding: 11.5rem 0;
  background-color: var(--Gray);
}

.shortened-links {
  outline: 2px solid brown;
}

.advanced-statistics {
  text-align: center;
  padding-top: 5rem;
}

.statistics-text {
  margin: 1.5rem 0;
}

.statistics-card-container {
  display: flex;
  gap: var(--gap);
  justify-content: space-between;
  margin: 10rem 0 2rem;
}

.statistics-card {
  position: relative;
  width: 100%;
  max-width: 320px;
  padding: 2rem;
  padding-top: 0;
  background-color: var(--white);
  border-radius: .8rem;
}

.card-icon {
  position: relative;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--Dark-Violet);
  margin: 0 auto;
  top: -3.5rem;
}

.card-title {
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  .nav {
    position: relative;
    display: flex;
    top: 0;
    background-color: transparent;
    padding: 0 0;
  }

  .nav-list a {
    color: var(--Grayish-Violet);
  }

  .separator {
    display: none;
  }

  .login-btn {
    color: var(--Grayish-Violet);
  }

  .sign-up-btn {
    color: var(--white);
    padding: 0.2em 1.5em;
    border-radius: 100px;
  }

  .flex-direction {
    flex-direction: row;
  }

  .menu-btn {
    display: none;
  }

  .hero {
    flex-direction: row;
  }
  .hero-content {
    text-align: left;
  }
  .hero-title {
    font-size: 4.8rem;
    font-weight: 700;
  }
  .hero-text {
    margin: 1rem 0 3rem;
  }
  .enter-link-container {
    background-image: url("./images/bg-shorten-desktop.svg");
    background-size: cover;
  }
  .form-item {
    padding: 0.8rem;
  }
  .shorten-btn {
    width: 20%;
  }
  .enter-link-container {
    bottom: -5rem;
  }
  .shortened-links-container {
    padding: 7.5rem 0;
  }
  .statistics-card {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .hero-img img {
    right: -15%;
  }
  .hero-title {
    font-size: 6rem;
    line-height: 7rem;
  }
}
