@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --gap: 3rem;
  --white: #fff;
  --Cyan: hsl(180, 66%, 49%);
  --Dark-Violet: hsl(257, 27%, 26%);
  --Red: hsl(0, 87%, 67%);
  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100vh;
  font-size: 1.8rem;
  font-weight: 500;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  position: relative;
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-direction {
  flex-direction: column;
}

.header-container {
  justify-content: space-between;
  padding: 2rem 0;
}

.logo {
  margin-right: 5rem;
}

.nav {
  position: relative;
  display: none;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-weight: 700;
  background-color: var(--Dark-Violet);
  padding: 3.5rem 2rem;
  border-radius: 1.2rem;
}

.nav-list a {
  color: var(--white);
}

.separator {
  position: relative;
  width: 100%;
  height: 0.1rem;
  background-color: var(--Gray);
  opacity: 0.3;
  margin: 3.5rem 0;
}

.login-btn {
  color: var(--white);
}

.menu-btn {
  display: flex;
  align-items: center;
}

.menu-btn i {
  font-size: 3rem;
  color: var(--Grayish-Violet);
}

.nav-list {
  list-style: none;
  display: flex;
  gap: var(--gap);
}

.login-btns-container {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.sign-up-btn {
  background-color: var(--Cyan);
  color: var(--white);
  padding: 0.5em 5em;
  border-radius: 100px;
}

.main {
  height: 40rem;
  outline: 2px solid blue;
}

@media (min-width: 600px) {
  .nav {
    position: absolute;
    display: flex;
    width: 80%;
    top: -5.8rem;
    right: 0;
    background-color: transparent;
    padding: 0 0;
  }

  .nav-list a {
    color: var(--Grayish-Violet);
  }

  .separator {
    display: none;
  }

  .login-btn {
    color: var(--Grayish-Violet);
  }

  .sign-up-btn {
    color: var(--white);
    padding: 0.2em 1.5em;
    border-radius: 100px;
  }

  .flex-direction {
    flex-direction: row;
  }

  .menu-btn {
    display: none;
  }
}
